@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* .game {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
} */

.game {
	/* position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh; */
	font-family: 'Press Start 2P', cursive;
}
